mixin ispForm(store = {})
   form(action=`/isps/add/${store._id || ''}` method="POST",class="card" enctype="multipart/form-data")
    label(for="name") Name
    input(type="text" name="name" value=store.name)

    label(for="coverageArea") Coverage Area
    textarea(name="coverageArea", cols="30", rows="10")= store.coverageArea

     //- Packages
    label(for="packages") Package1
    input(type="text" id="" name="packages[0]" value=(store.packages && store.packages[0]))

    label(for="packages") Package2
    input(type="text" id="" name="packages[1]" value=(store.packages && store.packages[1]))

    label(for="packages") Package3
    input(type="text" id="" name="packages[2]" value=(store.packages && store.packages[2]))

    label(for="packages") Package4
    input(type="text" id="" name="packages[3]" value=(store.packages && store.packages[3]))

    label(for="packages") Package5
    input(type="text" id="" name="packages[4]" value=(store.packages && store.packages[4]))


    //- label(for="Package Amount") Package Amount
    //- input(type="text" id="lat" name="packageAmount" value=(store.packageAmount) required)
    

    //-Image Upload
    label(for="photo") Photo
    input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")

    if store.photo
      img(src=`/uploads/${store.photo}`, alt=store.name width=200)

   

    //- //-Opening Hour
    //- label(for="menu") Opening Hours
    //- textarea(name="opening_hour", cols="30", rows="7")= store.opening_houra
    

    //- address, lng and lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(store.location &&store.location.address))

    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)

    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)

    -const choices = ["Real Ip","Shared Ip", "Optical Fiber"];

    -const tags = store.tags || []

    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for="choice") #{choice}

    input(type="submit" value="save↪" class="button")
    
    //- -const choices = ["Wifi","Open Late","Family Friendly","Vegatarian","Licensed"];

    //- -const tags = store.tags || []

    //- ul.tags
    //-   each choice in choices
    //-     .tag.tag__choice
    //-       input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
    //-       label(for="choice") #{choice}

  
