mixin storeForm(store = {})
   form(action=`/stores/add/${store._id || ''}` method="POST",class="card" enctype="multipart/form-data")
    label(for="name") Name
    input(type="text" name="name" value=store.name)

    label(for="description") Description
    textarea(name="description", cols="30", rows="10")= store.description

    //-Image Upload
    label(for="photo") Photo
    input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")

    if store.photo
      img(src=`/uploads/${store.photo}`, alt=store.name width=200)

    //- Menu
    h1 Menus
    label(for="packages") Menu1
    input(type="text" id="" name="menu[0]" value=(store.menu && store.menu[0]))

    label(for="packages") Menu2
    input(type="text" id="" name="menu[1]" value=(store.menu && store.menu[1]))

    label(for="packages") Menu3
    input(type="text" id="" name="menu[2]" value=(store.menu && store.menu[2]))

    label(for="packages") Menu4
    input(type="text" id="" name="menu[3]" value=(store.packages && store.menu[3]))

    label(for="packages") Menu5
    input(type="text" id="" name="menu[4]" value=(store.packages && store.menu[4]))

    //-Opening Hour
    h1 Opening Hours
    
    //- For Satuday
    select(name="opening_hour[0]")
      option(value=(store.opening_hour && store.opening_hour[0])) Satuday
      option(value=(store.opening_hour && store.opening_hour[0])) Sunday 
      option(value=(store.opening_hour && store.opening_hour[0])) Monday
      option(value=(store.opening_hour && store.opening_hour[0])) Tuesday
      option(value=(store.opening_hour && store.opening_hour[0])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[0])) Thursday
      option(value=(store.opening_hour && store.opening_hour[0])) Friday
    
    //- Opening time
    select(name="opening_hour[0]")
        option(value=(store.opening_hour && store.opening_hour[0])) 12 am
        option(value=(store.opening_hour && store.opening_hour[0])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 1 am
        option(value=(store.opening_hour && store.opening_hour[0])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 2 am
        option(value=(store.opening_hour && store.opening_hour[0])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[0])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 4 am
        option(value=(store.opening_hour && store.opening_hour[0])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 5 am
        option(value=(store.opening_hour && store.opening_hour[0])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 6 am
        option(value=(store.opening_hour && store.opening_hour[0])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 7 am
        option(value=(store.opening_hour && store.opening_hour[0])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 8 am
        option(value=(store.opening_hour && store.opening_hour[0])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 9 am
        option(value=(store.opening_hour && store.opening_hour[0])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 10 am
        option(value=(store.opening_hour && store.opening_hour[0])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 11 am
        option(value=(store.opening_hour && store.opening_hour[0])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 11.30 pm
    
    //-Closing time
    select(name="opening_hour[0]")
        option(value=(store.opening_hour && store.opening_hour[0])) 12 am
        option(value=(store.opening_hour && store.opening_hour[0])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 1 am
        option(value=(store.opening_hour && store.opening_hour[0])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 2 am
        option(value=(store.opening_hour && store.opening_hour[0])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[0])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 4 am
        option(value=(store.opening_hour && store.opening_hour[0])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 5 am
        option(value=(store.opening_hour && store.opening_hour[0])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 6 am
        option(value=(store.opening_hour && store.opening_hour[0])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 7 am
        option(value=(store.opening_hour && store.opening_hour[0])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 8 am
        option(value=(store.opening_hour && store.opening_hour[0])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 9 am
        option(value=(store.opening_hour && store.opening_hour[0])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 10 am
        option(value=(store.opening_hour && store.opening_hour[0])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 11 am
        option(value=(store.opening_hour && store.opening_hour[0])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[0])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[0])) 11.30 pm
    
    <br />

    //-For Sunday
    select(name="opening_hour[1]")
      option(value=(store.opening_hour && store.opening_hour[1]) ) Sunday
      option(value=(store.opening_hour && store.opening_hour[1])) Saturday
      option(value=(store.opening_hour && store.opening_hour[1])) Monday
      option(value=(store.opening_hour && store.opening_hour[1])) Tuesday
      option(value=(store.opening_hour && store.opening_hour[1])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[1])) Thursday
      option(value=(store.opening_hour && store.opening_hour[1])) Friday
    //-Opening Type
    select(name="opening_hour[1]")
        option(value=(store.opening_hour && store.opening_hour[1])) 12 am
        option(value=(store.opening_hour && store.opening_hour[1])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 1 am
        option(value=(store.opening_hour && store.opening_hour[1])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 2 am
        option(value=(store.opening_hour && store.opening_hour[1])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[1])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 4 am
        option(value=(store.opening_hour && store.opening_hour[1])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 5 am
        option(value=(store.opening_hour && store.opening_hour[1])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 6 am
        option(value=(store.opening_hour && store.opening_hour[1])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 7 am
        option(value=(store.opening_hour && store.opening_hour[1])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 8 am
        option(value=(store.opening_hour && store.opening_hour[1])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 9 am
        option(value=(store.opening_hour && store.opening_hour[1])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 10 am
        option(value=(store.opening_hour && store.opening_hour[1])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 11 am
        option(value=(store.opening_hour && store.opening_hour[1])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 11.30 pm

    select(name="opening_hour[1]")
        option(value=(store.opening_hour && store.opening_hour[1])) 12 am
        option(value=(store.opening_hour && store.opening_hour[1])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 1 am
        option(value=(store.opening_hour && store.opening_hour[1])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 2 am
        option(value=(store.opening_hour && store.opening_hour[1])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[1])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 4 am
        option(value=(store.opening_hour && store.opening_hour[1])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 5 am
        option(value=(store.opening_hour && store.opening_hour[1])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 6 am
        option(value=(store.opening_hour && store.opening_hour[1])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 7 am
        option(value=(store.opening_hour && store.opening_hour[1])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 8 am
        option(value=(store.opening_hour && store.opening_hour[1])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 9 am
        option(value=(store.opening_hour && store.opening_hour[1])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 10 am
        option(value=(store.opening_hour && store.opening_hour[1])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 11 am
        option(value=(store.opening_hour && store.opening_hour[1])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[1])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[1])) 11.30 pm 
        
    <br />

        //- For Monday
    select(name="opening_hour[2]")
      option(value=(store.opening_hour && store.opening_hour[2])) Monday
      option(value=(store.opening_hour && store.opening_hour[2])) Sunday 
      option(value=(store.opening_hour && store.opening_hour[2])) Saturday
      option(value=(store.opening_hour && store.opening_hour[2])) Tuesday
      option(value=(store.opening_hour && store.opening_hour[2])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[2])) Thursday
      option(value=(store.opening_hour && store.opening_hour[2])) Friday
    
    //- Opening time
    select(name="opening_hour[2]")
        option(value=(store.opening_hour && store.opening_hour[2])) 12 am
        option(value=(store.opening_hour && store.opening_hour[2])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 1 am
        option(value=(store.opening_hour && store.opening_hour[2])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 2 am
        option(value=(store.opening_hour && store.opening_hour[2])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[2])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 4 am
        option(value=(store.opening_hour && store.opening_hour[2])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 5 am
        option(value=(store.opening_hour && store.opening_hour[2])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 6 am
        option(value=(store.opening_hour && store.opening_hour[2])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 7 am
        option(value=(store.opening_hour && store.opening_hour[2])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 8 am
        option(value=(store.opening_hour && store.opening_hour[2])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 9 am
        option(value=(store.opening_hour && store.opening_hour[2])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 10 am
        option(value=(store.opening_hour && store.opening_hour[2])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 11 am
        option(value=(store.opening_hour && store.opening_hour[2])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 11.30 pm
    
    //-Closing time
    select(name="opening_hour[2]")
        option(value=(store.opening_hour && store.opening_hour[2])) 12 am
        option(value=(store.opening_hour && store.opening_hour[2])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 1 am
        option(value=(store.opening_hour && store.opening_hour[2])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 2 am
        option(value=(store.opening_hour && store.opening_hour[2])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[2])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 4 am
        option(value=(store.opening_hour && store.opening_hour[2])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 5 am
        option(value=(store.opening_hour && store.opening_hour[2])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 6 am
        option(value=(store.opening_hour && store.opening_hour[2])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 7 am
        option(value=(store.opening_hour && store.opening_hour[2])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 8 am
        option(value=(store.opening_hour && store.opening_hour[2])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 9 am
        option(value=(store.opening_hour && store.opening_hour[2])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 10 am
        option(value=(store.opening_hour && store.opening_hour[2])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 11 am
        option(value=(store.opening_hour && store.opening_hour[2])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[2])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[2])) 11.30 pm
    
    <br />

    //-For Tuesday
    select(name="opening_hour[3]")
      option(value=(store.opening_hour && store.opening_hour[3])) TuesDay
      option(value=(store.opening_hour && store.opening_hour[3])) Sunday 
      option(value=(store.opening_hour && store.opening_hour[3])) Monday
      option(value=(store.opening_hour && store.opening_hour[3])) Saturday
      option(value=(store.opening_hour && store.opening_hour[3])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[3])) Thursday
      option(value=(store.opening_hour && store.opening_hour[3])) Friday
    
    //- Opening time
    select(name="opening_hour[3]")
        option(value=(store.opening_hour && store.opening_hour[3])) 12 am
        option(value=(store.opening_hour && store.opening_hour[3])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 1 am
        option(value=(store.opening_hour && store.opening_hour[3])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 2 am
        option(value=(store.opening_hour && store.opening_hour[3])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[3])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 4 am
        option(value=(store.opening_hour && store.opening_hour[3])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 5 am
        option(value=(store.opening_hour && store.opening_hour[3])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 6 am
        option(value=(store.opening_hour && store.opening_hour[3])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 7 am
        option(value=(store.opening_hour && store.opening_hour[3])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 8 am
        option(value=(store.opening_hour && store.opening_hour[3])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 9 am
        option(value=(store.opening_hour && store.opening_hour[3])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 10 am
        option(value=(store.opening_hour && store.opening_hour[3])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 11 am
        option(value=(store.opening_hour && store.opening_hour[3])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 11.30 pm
    
    //-Closing time
    select(name="opening_hour[3]")
        option(value=(store.opening_hour && store.opening_hour[3])) 12 am
        option(value=(store.opening_hour && store.opening_hour[3])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 1 am
        option(value=(store.opening_hour && store.opening_hour[3])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 2 am
        option(value=(store.opening_hour && store.opening_hour[3])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[3])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 4 am
        option(value=(store.opening_hour && store.opening_hour[3])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 5 am
        option(value=(store.opening_hour && store.opening_hour[3])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 6 am
        option(value=(store.opening_hour && store.opening_hour[3])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 7 am
        option(value=(store.opening_hour && store.opening_hour[3])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 8 am
        option(value=(store.opening_hour && store.opening_hour[3])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 9 am
        option(value=(store.opening_hour && store.opening_hour[3])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 10 am
        option(value=(store.opening_hour && store.opening_hour[3])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 11 am
        option(value=(store.opening_hour && store.opening_hour[3])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[3])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[3])) 11.30 pm
    
    <br />

    //-For Wednesday

    select(name="opening_hour[4]")
      option(value=(store.opening_hour && store.opening_hour[4])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[4])) Sunday 
      option(value=(store.opening_hour && store.opening_hour[4])) Monday
      option(value=(store.opening_hour && store.opening_hour[4])) Tuesday
      option(value=(store.opening_hour && store.opening_hour[4])) Saturday
      option(value=(store.opening_hour && store.opening_hour[4])) Thursday
      option(value=(store.opening_hour && store.opening_hour[4])) Friday
    
    //- Opening time
    select(name="opening_hour[4]")
        option(value=(store.opening_hour && store.opening_hour[4])) 12 am
        option(value=(store.opening_hour && store.opening_hour[4])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 1 am
        option(value=(store.opening_hour && store.opening_hour[4])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 2 am
        option(value=(store.opening_hour && store.opening_hour[4])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[4])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 4 am
        option(value=(store.opening_hour && store.opening_hour[4])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 5 am
        option(value=(store.opening_hour && store.opening_hour[4])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 6 am
        option(value=(store.opening_hour && store.opening_hour[4])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 7 am
        option(value=(store.opening_hour && store.opening_hour[4])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 8 am
        option(value=(store.opening_hour && store.opening_hour[4])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 9 am
        option(value=(store.opening_hour && store.opening_hour[4])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 10 am
        option(value=(store.opening_hour && store.opening_hour[4])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 11 am
        option(value=(store.opening_hour && store.opening_hour[4])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 11.30 pm
    
    //-Closing time
    select(name="opening_hour[4]")
        option(value=(store.opening_hour && store.opening_hour[4])) 12 am
        option(value=(store.opening_hour && store.opening_hour[4])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 1 am
        option(value=(store.opening_hour && store.opening_hour[4])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 2 am
        option(value=(store.opening_hour && store.opening_hour[4])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[4])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 4 am
        option(value=(store.opening_hour && store.opening_hour[4])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 5 am
        option(value=(store.opening_hour && store.opening_hour[4])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 6 am
        option(value=(store.opening_hour && store.opening_hour[4])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 7 am
        option(value=(store.opening_hour && store.opening_hour[4])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 8 am
        option(value=(store.opening_hour && store.opening_hour[4])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 9 am
        option(value=(store.opening_hour && store.opening_hour[4])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 10 am
        option(value=(store.opening_hour && store.opening_hour[4])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 11 am
        option(value=(store.opening_hour && store.opening_hour[4])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[4])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[4])) 11.30 pm
    
    <br />

    //-For Thursday

    select(name="opening_hour[5]")
      option(value=(store.opening_hour && store.opening_hour[5])) Thursday
      option(value=(store.opening_hour && store.opening_hour[5])) Sunday 
      option(value=(store.opening_hour && store.opening_hour[5])) Monday
      option(value=(store.opening_hour && store.opening_hour[5])) Tuesday
      option(value=(store.opening_hour && store.opening_hour[5])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[5])) Saturday
      option(value=(store.opening_hour && store.opening_hour[5])) Friday
    
    //- Opening time
    select(name="opening_hour[5]")
        option(value=(store.opening_hour && store.opening_hour[5])) 12 am
        option(value=(store.opening_hour && store.opening_hour[5])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 1 am
        option(value=(store.opening_hour && store.opening_hour[5])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 2 am
        option(value=(store.opening_hour && store.opening_hour[5])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[5])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 4 am
        option(value=(store.opening_hour && store.opening_hour[5])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 5 am
        option(value=(store.opening_hour && store.opening_hour[5])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 6 am
        option(value=(store.opening_hour && store.opening_hour[5])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 7 am
        option(value=(store.opening_hour && store.opening_hour[5])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 8 am
        option(value=(store.opening_hour && store.opening_hour[5])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 9 am
        option(value=(store.opening_hour && store.opening_hour[5])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 10 am
        option(value=(store.opening_hour && store.opening_hour[5])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 11 am
        option(value=(store.opening_hour && store.opening_hour[5])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 11.30 pm
    
    //-Closing time
    select(name="opening_hour[5]")
        option(value=(store.opening_hour && store.opening_hour[5])) 12 am
        option(value=(store.opening_hour && store.opening_hour[5])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 1 am
        option(value=(store.opening_hour && store.opening_hour[5])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 2 am
        option(value=(store.opening_hour && store.opening_hour[5])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[5])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 4 am
        option(value=(store.opening_hour && store.opening_hour[5])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 5 am
        option(value=(store.opening_hour && store.opening_hour[5])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 6 am
        option(value=(store.opening_hour && store.opening_hour[5])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 7 am
        option(value=(store.opening_hour && store.opening_hour[5])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 8 am
        option(value=(store.opening_hour && store.opening_hour[5])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 9 am
        option(value=(store.opening_hour && store.opening_hour[5])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 10 am
        option(value=(store.opening_hour && store.opening_hour[5])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 11 am
        option(value=(store.opening_hour && store.opening_hour[5])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[5])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[5])) 11.30 pm
    
    <br />

    //-For Friday

    select(name="opening_hour[6]")
      option(value=(store.opening_hour && store.opening_hour[6])) Friday
      option(value=(store.opening_hour && store.opening_hour[6])) Sunday 
      option(value=(store.opening_hour && store.opening_hour[6])) Monday
      option(value=(store.opening_hour && store.opening_hour[6])) Tuesday
      option(value=(store.opening_hour && store.opening_hour[6])) Wednesday
      option(value=(store.opening_hour && store.opening_hour[6])) Thursday
      option(value=(store.opening_hour && store.opening_hour[6])) Saturday
    
    //- Opening time
    select(name="opening_hour[6]")
        option(value=(store.opening_hour && store.opening_hour[6])) 12 am
        option(value=(store.opening_hour && store.opening_hour[6])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 1 am
        option(value=(store.opening_hour && store.opening_hour[6])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 2 am
        option(value=(store.opening_hour && store.opening_hour[6])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[6])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 4 am
        option(value=(store.opening_hour && store.opening_hour[6])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 5 am
        option(value=(store.opening_hour && store.opening_hour[6])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 6 am
        option(value=(store.opening_hour && store.opening_hour[6])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 7 am
        option(value=(store.opening_hour && store.opening_hour[6])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 8 am
        option(value=(store.opening_hour && store.opening_hour[6])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 9 am
        option(value=(store.opening_hour && store.opening_hour[6])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 10 am
        option(value=(store.opening_hour && store.opening_hour[6])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 11 am
        option(value=(store.opening_hour && store.opening_hour[6])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 11.30 pm
    
    //-Closing time
    select(name="opening_hour[6]")
        option(value=(store.opening_hour && store.opening_hour[6])) 12 am
        option(value=(store.opening_hour && store.opening_hour[6])) 12.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 1 am
        option(value=(store.opening_hour && store.opening_hour[6])) 1.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 2 am
        option(value=(store.opening_hour && store.opening_hour[6])) 2.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 3.00 am
        option(value=(store.opening_hour && store.opening_hour[6])) 3.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 4 am
        option(value=(store.opening_hour && store.opening_hour[6])) 4.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 5 am
        option(value=(store.opening_hour && store.opening_hour[6])) 5.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 6 am
        option(value=(store.opening_hour && store.opening_hour[6])) 6.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 7 am
        option(value=(store.opening_hour && store.opening_hour[6])) 7.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 8 am
        option(value=(store.opening_hour && store.opening_hour[6])) 8.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 9 am
        option(value=(store.opening_hour && store.opening_hour[6])) 9.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 10 am
        option(value=(store.opening_hour && store.opening_hour[6])) 10.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 11 am
        option(value=(store.opening_hour && store.opening_hour[6])) 11.30 am
        option(value=(store.opening_hour && store.opening_hour[6])) 12 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 12.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 1 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 1.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 2 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 2.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 3 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 3.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 4 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 4.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 5 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 5.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 6 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 6.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 7 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 7.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 8 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 8.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 9 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 9.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 10 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 10.30 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 11 pm
        option(value=(store.opening_hour && store.opening_hour[6])) 11.30 pm
    
    <br />
    

    

      






    //- label(for="Sunday") Sunday
    //- input(type="text" id="" name="opening_hour[1]" value=(store.opening_hour && store.opening_hour[0]))

    //- label(for="Saturday") Monday
    //- input(type="text" id="" name="opening_hour[2]" value=(store.opening_hour && store.opening_hour[0]))

    //- label(for="Tuesday") Tuesday
    //- input(type="text" id="" name="opening_hour[3]" value=(store.opening_hour && store.opening_hour[0]))

    //- label(for="Wednesday") Wednesday
    //- input(type="text" id="" name="opening_hour[4]" value=(store.opening_hour && store.opening_hour[0]))

    //- label(for="Thursday") Thursday
    //- input(type="text" id="" name="opening_hour[5]" value=(store.opening_hour && store.opening_hour[0]))

    //- label(for="Friday") Friday
    //- input(type="text" id="" name="opening_hour[6]" value=(store.opening_hour && store.opening_hour[0]))
    

    //- address, lng and lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(store.location &&store.location.address))

    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)

    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)
    
    
    -const choices = ["Wifi","Open Late","Family Friendly","Vegatarian","Licensed"];

    -const tags = store.tags || []

    
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for="choice") #{choice}

    


    input(type="submit" value="save" class="button")

    